<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <section name="cluster" type="Monolit.Interfaces.Configuration.ClusterSection, Monolit.Interfaces" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <cluster>
    <applicationServerNodes>
      <add key="AS1" host="localhost" firstPortNumber="10104" />
    </applicationServerNodes>
  </cluster>
  <connectionStrings>
    <add name="Monolit.Properties.Settings.MonolitDBConnectionString" connectionString="Data Source=(local);Initial Catalog=MonolitDB;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="MonolitDataContext" connectionString="Data Source=(local);Initial Catalog=MonolitDB;Integrated Security=True;MultipleActiveResultSets=True;Connection Timeout=60;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.serviceModel>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="true" />
    <diagnostics performanceCounters="ServiceOnly" />
    <behaviors>
      <endpointBehaviors>
        <behavior name="defaultEndpointBehavior">
          <webHttp helpEnabled="true" automaticFormatSelectionEnabled="true" />
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="defaultServiceBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <webHttpBinding>
        <binding name="defaultWebHttpBinding" receiveTimeout="01:00:00" sendTimeout="01:00:00" transferMode="Buffered" maxBufferPoolSize="524288" maxBufferSize="2048000" maxReceivedMessageSize="2048000">
          <readerQuotas maxStringContentLength="2048000" maxArrayLength="2048000" maxNameTableCharCount="32768" />
        </binding>
      </webHttpBinding>
      <netTcpBinding>
        <binding name="defaultNetTcpBinding" receiveTimeout="01:00:00" sendTimeout="01:00:00" transferMode="Buffered" maxBufferPoolSize="524288" maxBufferSize="157286400" maxConnections="80" maxReceivedMessageSize="94384000" listenBacklog="32">
          <readerQuotas maxStringContentLength="94384000" maxArrayLength="94384000" maxNameTableCharCount="32768" />
          <security mode="None">
            <transport clientCredentialType="Windows" protectionLevel="EncryptAndSign" />
            <message clientCredentialType="Windows" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
</configuration>